html {
    font-family: 'Lexend';
}

body {
    height: 100%;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

.flex-even {
    flex: 1;
}

.responsive-container {
    max-width: 100vw;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 499px) {
    .responsive-container {
        max-width: 499px;
    }
}

@media (min-width: 768px) {
    .responsive-container {
        max-width: 767px;
    }
}

@media (min-width: 1280px) {
    .responsive-container {
        max-width: 767px;
    }
}

.justify-content-around {
    justify-content: space-around !important;
}

.mx-auto {
    margin: 0 auto;
}

h1,
h2,
h3 {
    margin: unset !important;
}

.gap-s {
    gap: 5px;
}

.gap-m {
    gap: 8px;
}

.gap-l {
    gap: 10px;
}

.gap-xs {
    gap: 3px;
}

.text-l {
    font-size: 32px;
}

.text-m {
    font-size: 24px;
}

.text-s {
    font-size: 20px;
}
.cdk-overlay-pane  { 
    position:absolute;
    pointer-events:auto;
    box-sizing:border-box;
    z-index:1000;
    display:flex;
    max-width:100%;
    max-height:100%;
    transform:none !important;
    margin-left: 8px;
  } 